<% include ./partials/header %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    <title>Team 10</title>
</head>
<body>
    <center>
        <h1>Welcome to the Team10 Website!</h1>
        
        <img src="https://i.imgur.com/brWOFEB.png" height="300" width="300">
        
        <form method="get" action="/login">
            <button class="massive ui green button">Login</button>
        </form>
                
        <form method="get" action="/signup">
            <button class="massive ui button" style="background-color: #146bcc; color: white">Sign Up</button>
        </form>
    </center>
<% include ./partials/footer %>